<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade Average Calculator</title>
</head>
<h1>CAIS Grade 12 Average Calculator</h1>
<h2>CORE SUBJECTS</h2>
<form action="/submit_grades" method="POST">
    <input type="number" name="grade1" placeholder="Your Grade" min="1" max="100">
    <input type="number" name="grade2" placeholder="Your Grade" min="1" max="100">
    <input type="number" name="grade3" placeholder="Your Grade" min="1" max="100">
    <input type="number" name="grade4" placeholder="Your Grade" min="1" max="100">
    <h2>Sub Course x3</h2>
    <input type="number" name="grade5" placeholder="Your Grade" min="1" max="100">
    <h2>Sub Course x2</h2>
    <input type="number" name="grade6" placeholder="Your Grade" min="1" max="100">
    <p></p>
    <button type="submit">Calculate Average</button>
</form>

<body>

</body>
</html>